[user]
  email = atemu1212@yahoo.co.jp
  name = Kenshi Shiode
[core]
  autocrlf = input
  editor = vim -c \"set fenc=utf-8\"
[push]
  default = current
[ghq]
  root = ~/.ghq
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
